<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="author" content="Gilberto Orengo"/>
<meta name="keywords" content="orengo, gilberto, latex, fortran, bnct, fisica, linux, neutrons"/>
<meta name="description" content="Pagina pessoal - Gilberto Orengo de Oliveira"/>
<!--link href="style.css" rel="stylesheet" type="text/css" -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/postagem/style.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<title>Orengo homepage (pagina pessoal de Gilberto Orengo)</title>
</head>
<body>

	<div id="container">  <!-- INICIO CONTAINER -->
<!--CABECALHO-->
		<div id="header">
      	<h2>página pessoal de</h2>
      	<h1>Gilberto ORENGO</h1>
		</div>
<!--MENU ESQUERDO-->
	<div id="navigation"> 
		<ul id="navlist">
			<li><a href="index.html"><strong>Página inicial</strong></a></li>
			<li><a href="unifra.html"><strong>Trabalho na UNIFRA</strong></a></li>
			<li><a href="curriculo.html"><strong>Curriculum Vitae</strong></a></li>
			<li><a href="passatempos.html"><strong>Passatempos</strong></a></li>
			<li><a href="computacao.html"><strong>Computação</strong></a></li>
			<li><a href="diversos.html"><strong>Diversos</strong> </a></li>
			<li><a href="contato.html"><strong>Contato</strong></a></li>
<li><br/><br/><p><a class="lingua" href="./eng/index_eng.html">This page in English</a></p></li>
<li><p><a class="lingua" href="./it/index_it.html">Questa pagina in Italiano</a></p></li>
		</ul>

	</div>

<!--MENU DIREITO-->
	<div id="sidebar">
	<h2>Disciplinas 2&ordm;/2015</h2>
	<p><strong>Planos de Ensino</strong></p>
	<p><strong>Graduação:</strong><br/>- <!--a href="./arquivos/plano_eletro1-2014.pdf"> Eletromagnetismo I</a><br/>- <a href="./arquivos/plano_FNuclear-2014.pdf"> Física Nuclear</a><br/>- <a href="./arquivos/plano_LPC-2014.pdf"> Linguagem de Prog. Científica</a-->


<!--a href="unifra_disc_grad_eletro1.html">Eletromagnetismo I</a><br/>- <a href="unifra_disc_grad_fn.html">Física Nuclear</a><br/><- <a href="unifra_disc_grad_labf4.html">Laboratório de Física IV</a--><br/><br/>

	<!--strong>Mestrado:</strong><br/>-  Física Clássica I<br/-->


	<strong>Pós-graduação (PPGECIMAT):</strong><br/>- <!--a href="./arquivos/plano_fisica_classica_I(MEFM-2013).pdf"> Física Clássica I</a><br/>
<a href="unifra_disc_mest_fc1.html">Física Clássica I</a></p-->


<p>"Se um dia tiver que escolher entre o mundo e o amor... Lembre-se: Se escolher o mundo, ficará sem o amor, mas se escolher o amor, com ele conquistará o mundo!!" <br/><br/>Albert Einstein (1879 &mdash; 1955)
<br/><br/></p>
<font size="1" color="#CCCCCC">Atualizado em 29 de julho de 2015</font>
<br/><font size="1" color="#CCCCCC">às 9h31min</font>

<!--
<br/><br/>
<a href="http://validator.w3.org/check?uri=referer"><img src="valid-xhtml10.gif" alt="Valid XHTML 1.0 Transitional" width="88" height="31" border="0" /></a>
-->
	</div>

<!--CONTEUDO PRINCIPAL-->

  	<div id="content">
	<h2>Bem-vindo à minha página</h2>
<p>(<a href="orengo.html">Eu</a>) Estou neste planeta desde o dia 01 de maio de 1961, desembarquei em São Borja, <a href="http://www.estado.rs.gov.br/" target="_blank" title="Acessa, em nova página, o site do governo do Estado do RS">Rio Grande do Sul</a>, Brasil, graças a <a href="eneli.html">Eneli Orengo</a> e <a href="onofre.html">Onofre de Oliveira</a>.
 Dois anos mais tarde fui transportado para <a href="http://www.santamaria.rs.gov.br/" target="_blank">Santa Maria</a> e, como ninguém me disse para sair, estou aqui até hoje. A partir daí, muitas coisas aconteceram ... conheci a minha italianíssima <a href="virginia.html"> Virginia Cielo Rech</a>, em 1983, e o amor começou a acontecer cada vez com mais intensidade. Amor e afeto são molas propulsoras do bem-viver ... e minha família alimentou-me com muita sabedoria, obrigado!!

<br/><br/>Estudei sempre em escolas públicas, sou graduado em Física pela Universidade Federal de Santa Maria (<a href="http://www.ufsm.br" target="_blank">UFSM</a>), com mestrado em Física (<a href="http://www.ufsm.br" target="_blank">UFSM</a>) e
doutorado em Engenharia Nuclear, pela Universidade  Federal do Rio Grande do Sul (<a href="http://www.ufrgs.br" target="_blank">UFRGS</a>). Hoje estou, com muita alegria e satisfação, no Centro Universitário Franciscano (<a href="http://www.unifra.br" target="_blank">UNIFRA</a>), no <a href="http://www.unifra.br/cursos/fisicamedica"target="_blank">Curso de Física Médica</a>.

<br/><br/>Como passatempo e, algumas vezes, como sobrevivência, fiz (faço) projetos e desenhos arquitetônico,  elétrico, hidrossanitário e telefônico. A vida nos proporciona muitas oportunidades e uma é a possibilidade
de conhecer pessoas que procuram ser livres de fato. Assim, como ferramenta de liberdade, utilizo e defendo <i>software</i> livre, como Linux (GNU/Linux Register User # 205346)
 e me esforço no LaTeX, embora esse não tenha licença GNU, mas o importante é que não dependo do Word<sup>&copy;</sup> ...</p>


	</div>

<!--RODAPE-->
  
	<div id="footer">
	<p><a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid 
  XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">Valid 
  CSS</a> | Copyright &copy; <a href="mailto:orengo@unifra.br">Gilberto Orengo</a> | Design by <a href="http://smallpark.org">SmallPark</a></p>
<!--p>
<a href="http://www.egestor.com.br/afl/97" target="_new"><img src="http://parceiros.zipline.com.br/images/1.gif" width="468" height="60" border="1" title="ERP eGestor - Sistema online de gestão empresarial. Controle de Estoque, Ordens de Serviço, Fluxo de Caixa e Nota Fiscal Eletrônica"></a>
</p-->

	</div>

</div> <!--FIM CONTAINER-->
</body>
</html>
